Repository YAPP-Github/26th-App-Team-4-BE, pull requests merged in 2025-07, with the labels that each got.

#32 feat: 좌표 관련 XML API 추가
  .github/pull_request_template.md
  build.gradle.kts
  src/main/kotlin/com/yapp/yapp/auth/api/controller/AuthController.kt
  src/main/kotlin/com/yapp/yapp/common/TimeProvider.kt
  src/main/kotlin/com/yapp/yapp/common/exception/ErrorCode.kt
  src/main/kotlin/com/yapp/yapp/common/exception/GlobalControllerAdvice.kt
  src/main/kotlin/com/yapp/yapp/common/web/ApiResponse.kt
  src/main/kotlin/com/yapp/yapp/common/web/ApiXmlResponse.kt
  src/main/kotlin/com/yapp/yapp/common/web/HealthCheckController.kt
  src/main/kotlin/com/yapp/yapp/common/web/config/WebConfig.kt
  src/main/kotlin/com/yapp/yapp/record/api/RunningRecordController.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningPointResponse.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningPointXmlResponse.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningRecordListResponse.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningRecordResponse.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningRecordXmlResponse.kt
  src/main/kotlin/com/yapp/yapp/record/domain/Pace.kt
  src/main/kotlin/com/yapp/yapp/record/domain/RecordService.kt
  src/main/kotlin/com/yapp/yapp/record/domain/RunningMetricsCalculator.kt
  src/main/kotlin/com/yapp/yapp/record/domain/RunningRecordService.kt
  src/main/kotlin/com/yapp/yapp/record/domain/converter/PaceConverter.kt
  src/main/kotlin/com/yapp/yapp/record/domain/point/RunningPoint.kt
  src/main/kotlin/com/yapp/yapp/record/domain/point/RunningPointManger.kt
  src/main/kotlin/com/yapp/yapp/record/domain/record/RunningRecord.kt
  src/main/kotlin/com/yapp/yapp/record/domain/record/RunningRecordManager.kt
  src/main/kotlin/com/yapp/yapp/running/api/RunningController.kt
  src/main/kotlin/com/yapp/yapp/running/api/request/RunningResumeRequest.kt
  src/main/kotlin/com/yapp/yapp/running/api/response/RunningResumeResponse.kt
  src/main/kotlin/com/yapp/yapp/running/api/response/RunningUpdateResponse.kt
  src/main/kotlin/com/yapp/yapp/running/api/response/RunningUpdateXmlResponse.kt
  src/main/kotlin/com/yapp/yapp/running/domain/RunningService.kt
  src/main/kotlin/com/yapp/yapp/user/api/UserController.kt
  src/test/kotlin/com/yapp/yapp/auth/api/controller/AuthControllerTest.kt
  src/test/kotlin/com/yapp/yapp/document/auth/AuthDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/record/RecordDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/running/RunningDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/support/BaseDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/record/RunningRecordControllerTest.kt
  src/test/kotlin/com/yapp/yapp/running/PaceTest.kt
  src/test/kotlin/com/yapp/yapp/running/RunningControllerTest.kt
  src/test/kotlin/com/yapp/yapp/running/RunningMetricsCalculatorTest.kt
  src/test/kotlin/com/yapp/yapp/running/RunningServiceTest.kt
  src/test/kotlin/com/yapp/yapp/support/BaseControllerTest.kt
  src/test/kotlin/com/yapp/yapp/support/fixture/RunningFixture.kt
  src/test/kotlin/com/yapp/yapp/user/OnboardingControllerTest.kt
  src/test/kotlin/com/yapp/yapp/user/UserControllerTest.kt
Labels: ✨feat

#36 refactor: 공통적으로 사용하는 공통 설정 application.yml로 위임
  src/main/resources/application-dev.yml
  src/main/resources/application-test.yml
  src/main/resources/application.yml
Labels: ♻️refactor

#37 feat: ktlint 설정 파일 추가하기
  .editorconfig
  build.gradle.kts
  src/main/kotlin/com/yapp/yapp/record/api/RunningRecordController.kt
  src/main/kotlin/com/yapp/yapp/record/domain/RecordsSearchType.kt
  src/main/kotlin/com/yapp/yapp/record/domain/record/RunningRecord.kt
  src/main/kotlin/com/yapp/yapp/record/domain/record/RunningRecordDao.kt
  src/main/kotlin/com/yapp/yapp/user/domain/NicknameGenerator.kt
  src/test/kotlin/com/yapp/yapp/document/record/RecordDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/user/UserDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/running/RunningMetricsCalculatorTest.kt
  src/test/kotlin/com/yapp/yapp/support/fixture/RunningFixture.kt
Labels: ✨feat

#42 feat: 에러 로그 개선하기
  src/main/kotlin/com/yapp/yapp/common/exception/GlobalControllerAdvice.kt
  src/main/kotlin/com/yapp/yapp/common/logging/DefaultLoggingInterceptor.kt
  src/main/kotlin/com/yapp/yapp/common/logging/LoggingWrappingFilter.kt
  src/main/kotlin/com/yapp/yapp/common/logging/ReadableRequestWrapper.kt
  src/main/kotlin/com/yapp/yapp/common/logging/format/ErrorLogFormat.kt
  src/main/kotlin/com/yapp/yapp/common/logging/format/RequestLogFormat.kt
  src/main/kotlin/com/yapp/yapp/common/logging/format/ResponseLogFormat.kt
Labels: ✨feat, 🛠infra, 🙏pending review

#43 feat: 목표 설정 API 추가
  src/main/kotlin/com/yapp/yapp/common/exception/ErrorCode.kt
  src/main/kotlin/com/yapp/yapp/record/domain/Pace.kt
  src/main/kotlin/com/yapp/yapp/user/api/UserController.kt
  src/main/kotlin/com/yapp/yapp/user/api/UserGoalController.kt
  src/main/kotlin/com/yapp/yapp/user/api/request/GoalRequest.kt
  src/main/kotlin/com/yapp/yapp/user/api/response/UserGoalResponse.kt
  src/main/kotlin/com/yapp/yapp/user/domain/UserInfo.kt
  src/main/kotlin/com/yapp/yapp/user/domain/UserManager.kt
  src/main/kotlin/com/yapp/yapp/user/domain/UserService.kt
  src/main/kotlin/com/yapp/yapp/user/domain/goal/RunningPurposeAnswerLabel.kt
  src/main/kotlin/com/yapp/yapp/user/domain/goal/UserGoal.kt
  src/main/kotlin/com/yapp/yapp/user/domain/goal/UserGoalDao.kt
  src/main/kotlin/com/yapp/yapp/user/domain/goal/UserGoalManager.kt
  src/main/kotlin/com/yapp/yapp/user/domain/goal/UserGoalRepository.kt
  src/main/kotlin/com/yapp/yapp/user/domain/onboarding/OnboardingManager.kt
  src/main/kotlin/com/yapp/yapp/user/domain/onboarding/OnboardingQuestionType.kt
  src/test/kotlin/com/yapp/yapp/document/Tag.kt
  src/test/kotlin/com/yapp/yapp/document/user/UserDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/user/UserGoalDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/support/BaseSupportMethod.kt
  src/test/kotlin/com/yapp/yapp/support/fixture/RequestFixture.kt
  src/test/kotlin/com/yapp/yapp/support/fixture/UserGoalFixture.kt
Labels: ✨feat, 🥇priority, 🙏pending review

#44 feat: 러너 타입 조회 API 추가
  src/main/kotlin/com/yapp/yapp/common/exception/ErrorCode.kt
  src/main/kotlin/com/yapp/yapp/user/api/UserController.kt
  src/main/kotlin/com/yapp/yapp/user/api/response/RunnerTypeResponse.kt
  src/main/kotlin/com/yapp/yapp/user/domain/RunnerType.kt
  src/main/kotlin/com/yapp/yapp/user/domain/User.kt
  src/main/kotlin/com/yapp/yapp/user/domain/UserManager.kt
  src/main/kotlin/com/yapp/yapp/user/domain/UserService.kt
  src/main/kotlin/com/yapp/yapp/user/domain/onboarding/OnboardingAnswerLabel.kt
  src/test/kotlin/com/yapp/yapp/document/user/UserDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/user/RunnerTypeTest.kt
Labels: ✨feat, 🙏pending review

#45 refactor: 시간 측량 Duration에서 밀리초로 변경
  src/main/kotlin/com/yapp/yapp/common/TimeProvider.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningPointResponse.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningPointXmlResponse.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningRecordListResponse.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningRecordResponse.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningRecordXmlResponse.kt
  src/main/kotlin/com/yapp/yapp/record/domain/Pace.kt
  src/main/kotlin/com/yapp/yapp/record/domain/converter/DurationConverter.kt
  src/main/kotlin/com/yapp/yapp/record/domain/converter/PaceConverter.kt
  src/main/kotlin/com/yapp/yapp/record/domain/point/RunningPoint.kt
  src/main/kotlin/com/yapp/yapp/record/domain/point/RunningPointManger.kt
  src/main/kotlin/com/yapp/yapp/record/domain/record/RunningRecord.kt
  src/main/kotlin/com/yapp/yapp/running/api/request/RunningUpdateRequest.kt
  src/main/kotlin/com/yapp/yapp/running/api/response/RunningDoneResponse.kt
  src/main/kotlin/com/yapp/yapp/running/domain/RunningService.kt
  src/main/kotlin/com/yapp/yapp/user/api/request/GoalRequest.kt
  src/main/kotlin/com/yapp/yapp/user/api/response/UserGoalResponse.kt
  src/main/kotlin/com/yapp/yapp/user/domain/UserService.kt
  src/main/kotlin/com/yapp/yapp/user/domain/goal/UserGoal.kt
  src/main/kotlin/com/yapp/yapp/user/domain/goal/UserGoalManager.kt
  src/test/kotlin/com/yapp/yapp/document/record/RecordDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/running/RunningDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/user/UserGoalDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/record/RunningRecordControllerTest.kt
  src/test/kotlin/com/yapp/yapp/running/PaceTest.kt
  src/test/kotlin/com/yapp/yapp/running/RunningMetricsCalculatorTest.kt
  src/test/kotlin/com/yapp/yapp/running/RunningServiceTest.kt
  src/test/kotlin/com/yapp/yapp/support/fixture/RequestFixture.kt
  src/test/kotlin/com/yapp/yapp/support/fixture/RunningFixture.kt
  src/test/kotlin/com/yapp/yapp/support/fixture/UserGoalFixture.kt
Labels: 🥇priority, ♻️refactor

#46 feat: api 문서 툴 변경
  .github/workflows/dev-cd.yml
  build.gradle.kts
  deployment/dev/data/nginx/nginx-blue.conf
  deployment/dev/data/nginx/nginx-green.conf
  deployment/dev/data/nginx/nginx.conf
  src/main/resources/static/docs/swagger-ui/favicon-16x16.png
  src/main/resources/static/docs/swagger-ui/favicon-32x32.png
  src/main/resources/static/docs/swagger-ui/index.css
  src/main/resources/static/docs/swagger-ui/index.html
  src/main/resources/static/docs/swagger-ui/swagger-initializer.js
  src/main/resources/static/docs/swagger-ui/swagger-ui-bundle.js
  src/main/resources/static/docs/swagger-ui/swagger-ui-standalone-preset.js
  src/main/resources/static/docs/swagger-ui/swagger-ui.css
  src/test/kotlin/com/yapp/yapp/document/auth/AuthDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/exception/ExceptionDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/record/RecordDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/running/RunningDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/user/UserDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/user/UserGoalDocumentTest.kt
Labels: ✨feat

#57 feat: 기록 통계 추가 (FITRUN-151)
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningRecordListResponse.kt
  src/main/kotlin/com/yapp/yapp/record/domain/RunningRecordService.kt
  src/main/kotlin/com/yapp/yapp/user/domain/goal/UserGoal.kt
  src/test/kotlin/com/yapp/yapp/document/record/RecordDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/record/RunningRecordControllerTest.kt
  src/test/kotlin/com/yapp/yapp/support/fixture/UserFixture.kt
Labels: ✨feat

#58 feat: 처리하는 에러 명확히 명시 (FITRUN-150)
  src/main/kotlin/com/yapp/yapp/common/token/jwt/JwtTokenHandler.kt
  src/main/kotlin/com/yapp/yapp/common/token/oidc/OidcTokenHandler.kt
Labels: ✨feat

#64 feat: 프로필 설정 (FITRUN-84)
  src/main/kotlin/com/yapp/yapp/user/api/UserSettingController.kt
  src/main/kotlin/com/yapp/yapp/user/api/request/SettingUpdateRequest.kt
  src/main/kotlin/com/yapp/yapp/user/api/response/AlertSettingResponse.kt
  src/main/kotlin/com/yapp/yapp/user/api/response/RunningSettingResponse.kt
  src/main/kotlin/com/yapp/yapp/user/api/response/SettingUpdateResponse.kt
  src/main/kotlin/com/yapp/yapp/user/domain/User.kt
  src/main/kotlin/com/yapp/yapp/user/domain/UserService.kt
  src/test/kotlin/com/yapp/yapp/document/Tag.kt
  src/test/kotlin/com/yapp/yapp/document/user/UserSettingDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/support/fixture/RequestFixture.kt
Labels: ✨feat

#63 feat: 러닝 오디오 피드백(Fitrun 113)
  build.gradle.kts
  src/main/kotlin/com/yapp/yapp/audio/api/AudioController.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/AudioDao.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/AudioManager.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/AudioRepository.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/AudioRequestHandler.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/AudioResource.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/AudioService.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/DistanceAudioType.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/PaceAudioType.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/TimeAudioType.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/infrastructure/GoogleAudioRepository.kt
  src/main/kotlin/com/yapp/yapp/audio/tts/GcpTextToSpeechConfig.kt
  src/main/kotlin/com/yapp/yapp/audio/tts/TextToSpeechController.kt
  src/main/kotlin/com/yapp/yapp/audio/tts/TextToSpeechService.kt
  src/main/kotlin/com/yapp/yapp/common/exception/ErrorCode.kt
  src/main/kotlin/com/yapp/yapp/common/exception/GlobalControllerAdvice.kt
  src/main/kotlin/com/yapp/yapp/common/logging/DefaultLoggingInterceptor.kt
  src/main/kotlin/com/yapp/yapp/common/token/jwt/resolver/CurrentUserArgumentResolver.kt
  src/main/kotlin/com/yapp/yapp/common/token/jwt/resolver/PrincipalArgumentResolver.kt
  src/main/resources/application-dev.yml
  src/main/resources/application-staging.yml
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/kotlin/com/yapp/yapp/document/Tag.kt
  src/test/kotlin/com/yapp/yapp/document/audio/AudioDocumentTest.kt
Labels: ✨feat

#67 fix: 빌드 실패 수정 (Fitrun 175)
  Dockerfile
Labels: 🚨bug, 🙏pending review

#68 feat: 기록 리스트 조회 시 이미지 url 포함 (FITRUN-176)
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningRecordResponse.kt
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningRecordSummaryResponse.kt
  src/main/kotlin/com/yapp/yapp/record/domain/record/RunningRecord.kt
  src/test/kotlin/com/yapp/yapp/document/record/RecordDocumentTest.kt
Labels: ✨feat

#70 feat: 러닝(페이스) 정보 TTS (Fitrun 177)
  src/main/kotlin/com/yapp/yapp/audio/api/AudioController.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/AudioManager.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/AudioService.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/AudioServletHandler.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/TextToSpeechManager.kt
  src/main/kotlin/com/yapp/yapp/audio/domain/infrastructure/GoogleTextToSpeechConfig.kt
  src/main/kotlin/com/yapp/yapp/audio/tts/TextToSpeechController.kt
  src/main/kotlin/com/yapp/yapp/record/domain/Pace.kt
  src/test/kotlin/com/yapp/yapp/document/audio/AudioDocumentTest.kt
Labels: ✨feat

#74 feat: 속도 필드 삭제 및 심박수 요청 추가(Fitrun 184)
  src/main/kotlin/com/yapp/yapp/record/api/response/RunningPointResponse.kt
  src/main/kotlin/com/yapp/yapp/record/domain/point/RunningPoint.kt
  src/main/kotlin/com/yapp/yapp/record/domain/point/RunningPointManger.kt
  src/main/kotlin/com/yapp/yapp/running/api/RunningController.kt
  src/main/kotlin/com/yapp/yapp/running/api/request/RunningPollingPauseRequest.kt
  src/main/kotlin/com/yapp/yapp/running/api/response/RunningPollingDoneResponse.kt
  src/main/kotlin/com/yapp/yapp/running/api/response/RunningPollingPauseResponse.kt
  src/main/kotlin/com/yapp/yapp/running/api/response/RunningPollingUpdateResponse.kt
  src/main/kotlin/com/yapp/yapp/running/domain/RunningService.kt
  src/test/kotlin/com/yapp/yapp/document/record/RecordDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/document/running/RunningDocumentTest.kt
  src/test/kotlin/com/yapp/yapp/running/RunningServiceTest.kt
  src/test/kotlin/com/yapp/yapp/support/fixture/RunningFixture.kt
Labels: ✨feat, 🥇priority, 🙏pending review

#73 infra: pinpoint 구축 (Fitrun 183)
  deployment/staging/docker-compose.yml
  src/main/resources/application-staging.yml
Labels: 🛠infra
